[Desktop Entry]
Encoding=UTF-8
Name=amaterasu
Comment=amaterasu P2P Cryptocurrency
Comment[fr]=amaterasu, monnaie virtuelle cryptographique pair à pair
Comment[tr]=amaterasu, eşten eşe kriptografik sanal para birimi
Exec=amaterasu-qt %u
Terminal=false
Type=Application
Icon=bitcoin128
MimeType=x-scheme-handler/amaterasu;
Categories=Office;Finance;
